/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

body {
    background-color: #040C1A;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #00D9FF;
    margin-top: 10px;
}

.popup-container {
    background-color: #353939;
    width: 325px;
    height: 155px;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
 */

}

.popup-container .game-type-container {
    /*border: 0.5px solid white;*/
    width: 100%;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.game-type-container .game-type {
    /*border: 0.5px solid white;*/
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-color: #202428;
    color: #BDE2E8;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.3s ease;
}

.game-type:hover {
    transform: scale(1.05);
}

.game-type-container .dot {
    border: 0.5px solid white;
    width: 50px;
    height: 50px;
    color: #1D1804;

}

.dot .dot-text {
    text-align: center;
    font-size: 60px;
    margin-bottom: 10px;
}

.game-type-container #methods {
    padding-left: 20px;

}

#methods {
    cursor: pointer;
}

.popup-container .start-btn {
    width: 140px;
    height: 60px;
    border-radius: 50px;
    background-color: #202428;
    color: #BDE2E8;
    border: none;
    outline: none;
    font-size: 37px;
    cursor: pointer;
    transition: 0.3s ease;
}

.start-btn:hover {
    transform: scale(1.05);
}

.game-container-ai {
    background-color: #212931;
    width: 460px;
    height: 465px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-container-ai .box-ai {
    width: 155px;
    height: 155px;
    background-color: #212931;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #FFF600;
    cursor: pointer;
    transition: 0.5s ease;
}

.game-container-ai .box-ai:hover {
    transform: scale(1.05);
}

.playing-with {
    text-align: center;
    font-size: 40px;
    color: rgb(162, 255, 0);
}

.cover-container-ai {
    display: none;
}

.game-container-person {
    background-color: #212931;
    width: 460px;
    height: 465px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-container-person .box-person {
    width: 155px;
    height: 155px;
    background-color: #212931;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #FFF600;
    cursor: pointer;
    transition: 0.5s ease;
}

.game-container-person .box-person:hover {
    transform: scale(1.05);
}

.playing-with {
    text-align: center;
    font-size: 40px;
    color: rgb(162, 255, 0);
}

.cover-container-person {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    Semi-transparent background display: none;
    Hidden by default justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 280px;
    text-align: center;
    margin: 100px auto;
    background-color: #040C1A;
    border: 0.5px solid white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(244, 244, 244, 0.3),
        0 -4px 10px rgba(244, 244, 244, 0.3),
        4px 0 10px rgba(244, 244, 244, 0.3),
        -4px 0 10px rgba(244, 244, 244, 0.3);

}

.popup-content .win-loose {
    text-align: center;
    font-size: 40px;
    color: lime;
}

.popup-content .ok-btn {
    width: 150px;
    height: 60px;
    background-color: #202428;
    color: #BDE2E8;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s;

}

.popup-content .ok-btn:hover {
    transform: scale(1.05);
}

.popup-content .play-other {
    width: 160px;
    height: 70px;
    background-color: #202428;
    color: #BDE2E8;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    padding: 10px;
}

.popup-content .play-other:hover {
    transform: scale(1.05);
}

.popup-person {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    Semi-transparent background display: none;
    Hidden by default justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content-person {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 280px;
    text-align: center;
    margin: 100px auto;
    background-color: #040C1A;
    border: 0.5px solid white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(244, 244, 244, 0.3),
        0 -4px 10px rgba(244, 244, 244, 0.3),
        4px 0 10px rgba(244, 244, 244, 0.3),
        -4px 0 10px rgba(244, 244, 244, 0.3);

}

.popup-content-person .win-loose-person {
    text-align: center;
    font-size: 40px;
    color: lime;
}

.popup-content-person .ok-btn-person {
    width: 150px;
    height: 60px;
    background-color: #202428;
    color: #BDE2E8;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s;

}

.popup-content-person .ok-btn-person:hover {
    transform: scale(1.05);
}

.popup-content-person .play-other-person {
    width: 160px;
    height: 70px;
    background-color: #202428;
    color: #BDE2E8;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    padding: 10px;
}

.popup-content-person .play-other-person:hover {
    transform: scale(1.05);
}